{% extends "app_orm/base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block contenido %}

<div class="container">
    <div class="row mt-4">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 border rounded p-4 shadow">
            <h3 class="text-center pb-2 mt-2">Crear cuenta de usuario</h3>
            
            <form action="" method="post">
                {% csrf_token %}
                {{form | crispy}}

             
                
                <div class="d-flex justify-content-end">
                    <input type="submit" value="Registrarse" class='btn btn-success text-light btn-lg'>
                </div>

            </form>

          
        </div>
        <div class="col-sm-3"></div>
    </div>
    

</div>


{% endblock contenido %}

