{% extends "app_orm/base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block contenido %}

<div class="container">
    <div class="row mt-4">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 border rounded p-4 shadow">
            <h4 class="text-center pb-2 mt-2">Editar Persona</h4>
            <p class="text-center"><span class="h6">RUT: </span>{{persona.rut}}</p>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form | crispy}}

             
                
                <div class="d-flex justify-content-end">
                    <input type="submit" value="Guardar Cambios" class='btn btn-warning text-light'>&nbsp;
                    <a href="{% url 'personas' %}" role="button" class="btn btn-info text-light text-center">&nbsp;&nbsp;Volver&nbsp; &nbsp;</a>

                </div>

            </form>



        </div>
        <div class="col-sm-4"></div>
    </div>
    

</div>


{% endblock contenido %}

